*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #f4f4f4;
}
header{
    background-color: #111;
    color: white;
    padding: 15px 30px;
    position: sticky;
    top: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 24px;
    font-weight: bold;
}
.links{
    display: flex;
    gap: 20px;
    list-style: none;
}
.links a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}
.links a:hover{
    color: orange;
}

/* Trick menu icon */
.menu-btn{
    display: none;
    font-size: 30px;
    cursor: pointer;
    user-select: none;
}
#menu-toggle{
    display: none;
}
.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 50px 30px;
    max-width: 1100px;
    margin: auto;
}
.hero-section-text{
    flex: 1;
}
.hero-section-text h1{
    font-size: 48px;
    margin-bottom: 15px;
    color: #111;
}
.hero-section-text p{
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}
.hero-section-text button{
    margin-top: 20px;
    padding: 12px 22px;
    border: none;
    background-color: #111;
    color: white;
    cursor: pointer;
    font-size: 18px;
    border-radius: 8px;
    transition: 0.3s;
}
.hero-section-text button:hover{
    background-color: orange;
    transform: scale(1.05);
}
.hero-section-img{
    flex: 1;
}
.hero-section-img img{
    width: 100%;
    border-radius: 15px;
    box-shadow: 1 10px 25px rgba(0, 0, 0, 0.2);
}

/* Tablet */
@media (max-width: 900px) {
    .hero-section{
        flex-direction: column;
        align-items: center;
    }
    .hero-section-text h1{
        font-size: 40px;
    }
}
/* Mobile */
@media (max-width: 600px) {
    .menu-btn{
        display: block;
    }
    .links{   
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #111;
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
        display: none;
        width: 100%;
    }
    .links li{
        padding: 12px;
    }
    #menu-toggle:checked ~ .links{
        display: flex;
    }
    .hero-section-text h1{
        font-size: 32px;
    }
    .hero-section-text p{
        font-size: 16px;
    }
}