.container{
    border: 2px blue solid;
    padding: 12px;
    display: flow-root;
}
#img1{
    float: right;
    margin-right: 16px;
}
#img2{
    float: left;
    margin-left: 16px;
}

/* div{
    margin-top: 0px;
    border: 2px red solid;
    height: 50px;
    overflow: scroll;
    /* overflow: hidden; */
    /* overflow: clip;
    overflow-clip-margin: 20px; */
