
.box1{
    width: 200px;
    height: 200px;
    background-color: blue;
    /* position: fixed;
    top: 0; */
    position: relative;
    margin: -50px -50px;
}

.box2{
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
}